<h1>Hello AJAX!</h1>

<table class="table table-sm table-striped">
    <tr>
        <td>Niki</td>
        <td>2022-11-09</td>
    </tr>
    <tr>
        <td>Stoyan</td>
        <td>2022-11-10</td>
    </tr>
</table>
<button onclick="RefreshData()" class="btn btn-success">Refresh</button>

<script>
    function RefreshData() {
        console.log("Clicked!");
    }
</script>